fastapi-mongo/services/backend/src/__pycache__
fastapi-mongo/services/backend/src/server/__pycache__
fastapi-mongo/services/backend/src/server/models/__pycache__
fastapi-mongo/services/backend/src/server/routes/__pycache__